# Carregamento de variáveis de ambiente
python-dotenv==0.18.0

# Banco de Dados MySQL/MariaDB
PyMySQL==1.0.0

# Mensageria RabbitMQ
pika==1.1.0

# Autenticação e Tokens JWT
PyJWT==1.7.1

# Requisições HTTP para API externa
requests==2.27.1

# Criptografia e segurança
cryptography==3.3.2

# Framework Web e CORS
Flask==1.1.2
Flask-CORS==3.0.10

# Monitoramento do sistema (CPU, Memória, Disco)
psutil==5.9.0